</br>
<div class='row'>
  <div class='span12' ng-hide='showForm'>
    <form class='form-search'>
      <input class='btn' type='button' value='Aggiorna elenco' ng-click='fetchAll()' />
      <input class='btn' type='button' value='Nuovo intervento' ng-click='newIntervention()' />
      <div class='input-append offset1'>
          <input type='text' class='span3 search-query' ui-jq='tooltip' ui-options="{placement: 'bottom'}" title="La ricerca verra' effettuata sui campi:</br><ul class='unstyled'><li>Progressivo</li><li>Cliente</li><li>Utente</li></ul>" ng-model='query'>
        <button type='submit' class='btn' ng-click='filter()'>Applica filtro</button>
      </div>
    </form>
    <table class='table table-striped table-bordered table-hover'>
      <thead>
        <tr>
          <th>Progr.</th>
          <th>Cliente</th>
          <th>Utente</th>
          <th>Data richiesta</th>
          <th>Data intervento</th>
          <th>Lavoro completato</th>
          <th>Totale ore lavorate</th>
          <th>Azioni</th>
        </tr>
      </thead>
      <tbody>
	      <tr ng-repeat='intervention in interventions'>
	        <td class='span1 intervention-id'>{{intervention.id}}</td>
	        <td class='span3'>{{intervention.client.ragione_sociale}}</td>
            <td>{{intervention.user.email}}</td>
            <td>{{intervention.data_inoltro_richiesta | date: 'dd/MM/yyyy'}}</td>
            <td>{{intervention.data_intervento | date: 'dd/MM/yyyy'}}</td>
            <td>{{intervention.lavoro_completato | checkmarkIcon}}</td>
            <td>{{intervention.totale_ore_lavorate}}</td>
          <td class='span1'>
            <div class='btn-group'>
              <a class='btn' ui-jq='tooltip' ui-options="{placement: 'bottom'}" title='Modifica' ng-click="editIntervention(intervention)"><img src='assets/table_edit.png'></a>
              <a class='btn' ui-jq='tooltip' ui-options="{placement: 'bottom'}" title='Rimuovi' ng-click="deleteIntervention(intervention)"><img src='assets/table_delete.png'></a>
            </div>
          </td>
	      </tr>
      </tbody>
    </table>
  </div>
</div>

