  <div id='new-intervention' class='span12'>
    <form name='interventionForm' class='custom-form' show-validation-errors errors='errors'>
      <fieldset>
          <legend>{{formCaption}}</legend>
        <div class='same-row id' ng-show='intervention.id'>
		      <label>Progressivo intervento</label>
		      <span class='span1 uneditable-input' type='text'>{{intervention.id}}</span>
        </div>
	    <div class='new-row same-row control-group cliente'>
            <label>Cliente</label>
            <select id='cliente' class="span6" ng-model='selectedClient' ng-change='clientChanged()' ng-options="c.ragione_sociale for c in clients" required></select>
        </div>
        <div ng-show='selectedClient.id'>
	        <div class='new-row same-row control-group sede'>
                <label>Sede dell'intervento</label>
                <select id='sede' class="span6" ng-model='selectedLocation' ng-change='locationChanged()' ng-options="l.descrizione for l in locations" required></select>
            </div>
            <div ng-show='selectedLocation'>
                <div class='new-row same-row control-group data_inoltro_richiesta'>
                    <label>Data inoltro richiesta</label>
                    <input id="data_inoltro_richiesta" type='text' ng-model='intervention.data_inoltro_richiesta' ui-date="{dateFormat: 'dd/mm/yy', changeMonth: true, changeYear: true}" required>
                </div>
                <div class='same-row control-group data_intervento'>
                    <label>Data intervento</label>
                    <input id="data_intervento" type='text' ng-model='intervention.data_intervento' ui-date="{dateFormat: 'dd/mm/yy', changeMonth: true, changeYear: true}" required>
                </div>
                <div class='new-row same-row control-group contatto'>
                    <label>Contatto</label>
                    <input-autocomplete ng-model='intervention.contatto' items='getContacts' selected='contactSelected'></input-autocomplete>
                </div>
                <div class='same-row control-group email'>
                    <label>E-Mail</label>
                    <input id="email" type='text' ng-model='intervention.email'>
                </div>
                <div class='new-row control-group descrizione_anomalie'>
                    <label>Descrizione anomalie</label>
                    <textarea id="descrizione_anomalie" class='span8' rows='5' ng-model='intervention.descrizione_anomalie' required></textarea>
                </div>
                <div class='new-row well span11'>
                  <div class='span5'>
                    <span>Attivita' disponibili</span>
                    <elenco-attivita attivita='attivita_disponibili' 
                                      pick-activity='pickActivity(activity)'
                                      show-pick='true'>
                    </elenco-attivita>
                  </div>
                  <div class='span5'>
                    <span>Attivita' effettuate</span>
                    <elenco-attivita attivita='attivita_selezionate' 
                                      delete-activity='unpickActivity(activity)'
                                      show-delete='true'>
                    </elenco-attivita>
                  </div>
                </div>
                <div class='new-row control-group descrizione_intervento'>
                    <label>Descrizione intervento</label>
                    <textarea id="descrizione_intervento" class='span8' rows='5' ng-model='intervention.descrizione_intervento' required></textarea>
                </div>
                <div class='new-row same-row control-group lavoro_completato'>
                    <label>Lavoro completato</label>
                    <input id="lavoro_completato" type='checkbox' ng-model='intervention.lavoro_completato'>
                </div>
                <div class='same-row control-group diritto_di_chiamata'>
                    <label>Diritto di chiamata</label>
                    <input id="diritto_di_chiamata" type='checkbox' ng-model='intervention.diritto_di_chiamata'>
                </div>
                <div class='new-row same-row control-group inizio well well-small'>
                    <label>Inizio</label>
                    <input id="inizio" type='text' ng-model='intervention.inizio' ui-date="{dateFormat: 'dd/mm/yy', changeMonth: true, changeYear: true}">
                    <div ng-model="intervention.inizio"><timepicker show-meridian='false'></timepicker></div>
                </div>
                <div class='same-row control-group fine well well-small'>
                    <label>Fine</label>
                    <input id="fine" type='text' ng-model='intervention.fine' ui-date="{dateFormat: 'dd/mm/yy', changeMonth: true, changeYear: true}">
                    <div ng-model="intervention.fine"><timepicker show-meridian='false'></timepicker></div>
                </div>
                <div class='new-row same-row control-group ore_lavorate_cliente'>
                    <label>Ore lavorate presso il cliente</label>
                    <input id="ore_lavorate_cliente" type='input' class='span2' ng-model='intervention.ore_lavorate_cliente' required>
                </div>
                <div class='same-row control-group ore_lavorate_remoto'>
                    <label>Ore lavorate da remoto</label>
                    <input id="ore_lavorate_remoto" type='input' class='span2' ng-model='intervention.ore_lavorate_remoto' required>
                </div>
                <div class='same-row control-group ore_lavorate_laboratorio'>
                    <label>Ore lavorate in laboratorio</label>
                    <input id="ore_lavorate_laboratorio" type='input' class='span2' ng-model='intervention.ore_lavorate_laboratorio' required>
                </div>
                <div class='same-row control-group km_supplementari'>
                    <label>Km supplementari</label>
                    <input id="km_supplementari" type='number' class='span2' ng-model='intervention.km_supplementari' 
                      name='kmsupplementari'
                      min='0'
                      pattern='/^[0-9]+$/'
                      required >
                      <span class='error' ng-show='interventionForm.kmsupplementari.$error.number'>
                        Formato numero non valido: deve essere un numero intero!
                      </span>
                </div>
                <div class='new-row control-group note'>
                    <label>Note</label>
                    <textarea id="note" class='span8' rows='5' ng-model='intervention.note'></textarea>
                </div>
            </div>
        </div>
        <div class='form-actions new-row'>
          <button type='submit' class='btn' ng-click='saveIntervention(intervention)' ng-disabled='!isDirty() || !interventionForm.$valid'>{{formSubmitCaption}}</button>
          <button type='submit' class='btn' ng-click="cancel()">Annulla</button>
        </div>
      </fieldset>
    </form>
  </div>

