    <table ng-show='activities.length > 0' class='table table-striped table-bordered table-hover'>
      <thead>
        <tr>
          <th>Descrizione</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat='a in activities' ng-click='selectActivity({activity:a})'>
          <td>{{a.descrizione}}</td>
          <td ng-show='showDelete' class='span1'><button class='btn' ng-click='removeActivity({activity:a})'><i class='icon-remove'></i></button></td>
          <td ng-show='showPick' class='span1'><button class='btn' ng-click='pickActivity({activity:a})'><i class='icon-check'></i></button></td>
        </tr>
      </tbody>
    </table>
    <div ng-show='nrOfPages > 1'>
      <pagination class='centered' on-select-page='pageChanged(page)' num-pages='nrOfPages' current-page='currentPage'></pagination>
    </div>
