<div class='row span12'>
  <div class='span5'>
    <div class='navbar'>
      <div class='navbar-inner'>
        <form class='navbar-form'>
          <a class='brand' href='#'>Elenco attivita'</a>
          <button class='btn pull-right' ng-click='fetchAll()'>Aggiorna elenco</button>
          <button class='btn pull-right' ng-click='newActivity()'>Nuova attivita'</button>
        </form>
      </div>
    </div>
    <elenco-attivita attivita='allActivities' show-delete='true' 
                     delete-activity='removeActivity(activity)'
                     select-activity='selectActivity(activity)'>
    </elenco-attivita>
  </div>
  <div class='span5 well' ng-show='activity'>
    <form name='activityForm' show-validation-errors errors='errors'>
      <fieldset>
        <legend>Varia attivita'</legend>
        <div class='control-group descrizione'>
          <label for='descrizione'>Descrizione</label>
          <textarea id='descrizioe' class='span5' rows='5' ng-model='activity.descrizione' required></textarea>
        </div>
      </fieldset>
      <div class='form-actions'>
        <button type='submit' class='btn' ng-click='saveActivity(activity)' ng-disabled='!isDirty() || !activityForm.$valid'>Salva</button>
      </div>
    </form>
  </div>
</div>
