<div class='row span12'>
  <div class='span5 well'>
    <div class='navbar'>
      <div class='navbar-inner'>
        <form class='navbar-form'>
          <a class='brand' href='#'>Elenco attivita'</a>
          <button class='btn pull-right' ng-click='fetchAll()'>Aggiorna elenco</button>
          <button class='btn pull-right' ng-click='newActivity()'>Nuova attivita'</button>
        </form>
      </div>
    </div>
    <table ng-show='activities.length > 0' class='table table-striped table-bordered table-hover'>
      <thead>
        <tr>
          <th>Descrizione</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat='a in activities' ng-click='selectActivity(a)'>
          <td>{{a.descrizione}}</td>
          <td class='span1'><button class='btn' ng-click='removeActivity(a)'><i class='icon-remove'></i></button></td>
        </tr>
      </tbody>
    </table>
    <div ng-show='nrOfPages > 1'>
      <pagination class='centered' on-select-page='pageChanged(page)' num-pages='nrOfPages' current-page='currentPage'></pagination>
    </div>
  </div>
  <div class='span5 well' ng-show='activity'>
    <form name='activityForm' show-validation-errors errors='errors'>
      <fieldset>
        <legend>Varia attivita'</legend>
        <div class='control-group descrizione'>
          <label for='descrizione'>Descrizione</label>
          <textarea id='descrizioe' class='span5' rows='5' ng-model='activity.descrizione' required></textarea>
        </div>
      </fieldset>
      <div class='form-actions'>
        <button type='submit' class='btn' ng-click='saveActivity(activity)' ng-disabled='!isDirty() || !activityForm.$valid'>Salva</button>
      </div>
    </form>
  </div>
</div>
