</br>
<div class='row'>
  <div class='span12' ng-hide='showForm'>
    <form class='form-search'>
      <input class='btn' type='button' value='Aggiorna elenco' ng-click='fetchAll()' />
      <input class='btn' type='button' value='Nuova sede' ng-click='newLocation()' />
      <div class='input-append offset1'>
        <input type='text' class='span3 search-query' ui-jq='tooltip' ui-options="{placement: 'bottom'}" title="La ricerca verra' effettuata sui campi:</br><ul class='unstyled'><li>Descrizione</li><li>Indirizzo</li><li>Citta'</li></ul>">
        <button type='submit' class='btn'>Applica filtro</button>
      </div>
    </form>
    <table class='table table-striped table-bordered table-hover'>
      <thead>
        <tr>
          <th>Descrizione</th>
          <th>Citta'</th>
          <th>Azioni</th>
        </tr>
      </thead>
      <tbody>
	      <tr ng-repeat='location in locations'>
	        <td>{{location.descrizione}}</td>
	        <td>{{location.citta}}</td>
          <td class='span1'>
            <div class='btn-group'>
              <a class='btn' ui-jq='tooltip' ui-options="{placement: 'bottom'}" title='Modifica sede' ng-click='selectLocation(location)'><img src='assets/brick_edit.png'></a>
              <a class='btn' ui-jq='tooltip' ui-options="{placement: 'bottom'}" title='Rimuovi sede' ng-click="deleteLocation(location)"><img src='assets/brick_delete.png'></a>
            </div>
          </td>
	      </tr>
      </tbody>
    </table>
  </div>
  <div id='new-location' class='span12'>
    <form name='locationForm' class='custom-form' ng-show='showForm' show-validation-errors errors='errors'>
      <fieldset>
        <legend>{{formCaption}}</legend>
	      <div class='same-row control-group descrizione'>
	        <label>Descrizione</label>
	        <input id='descrizione' class='span10' type='text' ng-model='selectedLocation.descrizione' required>
        </div>
	      <div class='same-row control-group indirizzo'>
	        <label>Indirizzo</label>
          <input id='indirizzo' class='span5' type='text' ng-model='selectedLocation.indirizzo' required>
	      </div>
	      <div class='clearfix same-row control-group citta'>
	        <label>Citta'</label>
          <input id='citta' class='span3' type='text' ng-model='selectedLocation.citta' required>
	      </div>
	      <div class='same-row control-group cap'>
	        <label>CAP</label>
          <input id='cap' class='span1' type='text' ng-model='selectedLocation.cap'>
	      </div>
	      <div class='same-row control-group provincia'>
	        <label>Provincia</label>
          <input id='provincia' class='span1' type='text' ng-model='selectedLocation.provincia' to-uppercase>
	      </div>
        <div class='form-actions new-row'>
          <button type='submit' class='btn' ng-click='saveLocation(selectedLocation)' ng-disabled='!isDirty()'>{{formSubmitCaption}}</button>
          <button type='submit' class='btn' ng-click="hideForm()">Annulla</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>

